body{
    font-family: Inter, sans-serif;
    /* background-color: #f4f7f9; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    color: #113F67;
}

h3{
    font-weight: normal;
    text-align: justify;
}
.container{
    padding: 40px;
    width: 100%;
    max-width: 500px;
    
}

.popup {
      display: none;
      position: fixed;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #d4edda;
      border: 1px solid #c3e6cb;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      color: #155724;
    }

    .popup button {
      margin-top: 10px;
      padding: 5px 10px;
    }

    .button-container {
      display: flex;
      gap: 10px;
      justify-content: center;
    }

.button {
    background-color: #113F67;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3367d6;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #113F67;
    border-radius: 4px;
}

/* Modal popup */
.modal {
  display: none;
  position: fixed;
  z-index: 999; /* pastikan muncul di atas */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* bayangan belakang */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3); /* shadow konten modal */
  text-align: center;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}