body{
    font-family: Inter, sans-serif;
    /* background-color: #f4f7f9; */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    color: #113F67;
}

h3{
    font-weight: normal;
    text-align: justify;
}
.container{
    padding: 40px;
    width: 100%;
    max-width: 500px;
    
}

.button-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    background-color: #113F67;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #3367d6;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-container input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #113F67;
    border-radius: 4px;
}